<template>
  <div id="map">
    <l-map
      :ref="mapkey"
      :zoom="zoom"
      :center="center"
      :inertia-deceleration="10000"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
    >
      <l-control-layers position="topright" />
      <l-tile-layer
        v-for="tile in properties.tile_layers"
        :key="`tile-${tile.id}`"
        :name="tile.name"
        :url="tile.url"
        :visible="tile.visible"
        :attribution="tile.attribution"
        layer-type="base"
      />
      <span v-if="renderZones">
        <l-geo-json
          :geojson="zones.geometry"
          :options-style="zones.style"
          :visible="showZones"
          :options="zonesOptions()"
        />
      </span>
      <span v-if="renderGrid && grid.geometry">
        <l-geo-json
          :geojson="grid.geometry"
          :options-style="grid.style"
          :visible="showGrid"
          :options="gridOptions()"
        />
      </span>
      <div v-for="layer in layers" :key="`layers-${layer.key}`">
        <l-geo-json
          v-if="activeLayers[layer.key][mapkey]"
          :geojson="layer.geometry"
          :options-style="layer.style"
          :options="layer.options"
        />
      </div>
      <div v-for="bikelaneLayer in bikelaneLayers" :key="`bikelaneLayers-${bikelaneLayer.key}`">
        <div v-for="layer in bikelaneLayer.data" :key="`bikelaneLayers-${bikelaneLayer.key}-${layer.year}`">
          <l-geo-json
            v-if="activeLayers[bikelaneLayer.key][mapkey] && layer.year >= bikelaneRange[0] && layer.year <= bikelaneRange[1]"
            :geojson="layer.geometry"
            :options-style="bikelaneLayer.style"
            :options="bikelaneLayer.options"
          />
        </div>
      </div>
      <div v-for="(layer, index) in uploadedLayers" :key="`custom-layers-${index}`">
        <div v-if="layer.isActive[mapkey]">
          <l-geo-json
            :geojson="layer.geometry"
            :options="markerOptions(layer.style)"
            :options-style="layer.style"
          />
        </div>
      </div>
      <l-feature-group v-for="tier in Object.keys(arrowTiers)" :key="tier">
        <l-polyline
          v-for="(arrow, index) in flows[tier]"
          :key="`${tier}-${index}`"
          :lat-lngs="arrow['coords']"
          :color="'blue'"
          :weight="0.4 * arrow['weight']"
        >
          <l-tooltip :options="{ sticky: true }">
            {{ arrow["total_trips"] }} {{ $t("trips") }}
            <br>
            <span v-if="developer_mode">
              {{ arrow["origin"] }} -> {{ arrow["destination"] }}
              <br>
              ids: {{ arrow["trips_ids"] }}
            </span>
          </l-tooltip>
        </l-polyline>
        <polyline-decorator
          v-for="(arrow, index) in flows[tier]"
          :key="`${tier}-${index}-decorator`"
          :paths="arrow['coords'][arrow['coords'].length - 1]"
          :patterns="[
            {
              offset: '100%',
              repeat: 0,
              symbol: symbol.arrowHead({
                pixelSize: 10,
                polygon: false,
                pathOptions: {
                  stroke: true,
                  color: 'blue',
                  weight: 0.4 * arrow['weight'],
                },
              }),
            },
          ]"
        />
      </l-feature-group>
    </l-map>
  </div>
</template>

<script>
import L from 'leaflet';
import {
  LMap,
  LTileLayer,
  LGeoJson,
  LPolyline,
  LFeatureGroup,
  LTooltip,
  LControlLayers,
} from 'vue2-leaflet';
import Vue2LeafletPolylineDecorator from 'vue2-leaflet-polylinedecorator';
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LPolyline,
    LTooltip,
    'polyline-decorator': Vue2LeafletPolylineDecorator,
    LFeatureGroup,
    LControlLayers,
  },
  props: {
    mapkey: { type: String, required: true },
  },
  data() {
    return {
      symbol: L.Symbol,
      renderZones: false,
      renderGrid: false,
      zoom: 12, // @@@ default
      center: { lat: -23.550164466, lng: -46.633664132 },
    };
  },
  computed: {
    ...mapGetters([
      'developer_mode',
      'sharedControls',
      'centerMain',
      'centerSecond',
      'zoomMain',
      'zoomSecond',
      'mapControl',
      'layers',
      'activeLayers',
      'bikelaneLayers',
    ]),
    ...mapGetters('user_shapefiles', ['uploadedLayers']),
    ...mapState({
      activeLayersKeys(state) {
        return state.layers[this.mapkey].activeLayersKeys;
      },
      grid(state) {
        return state.layers[this.mapkey].grid;
      },
      bikelaneRange(state) {
        return state.layers[this.mapkey].bikelaneRange;
      },
      properties(state) {
        return state.map.maps[this.mapkey].properties;
      },
      layersPolylines(state) {
        return state.map.maps[this.mapkey].show.layers['polyline'];
      },
      layersDecorators(state) {
        return state.map.maps[this.mapkey].show.layers['decorators'];
      },
      arrowTiers(state) {
        return state.map.maps[this.mapkey].show.flows['polyline'];
      },
      flows(state) {
        return state.flows.flows[this.mapkey];
      },
      zones: state => state.layers.zones,
      // attractors: state => state.filters.heatmaps.attractors,
      // emitters: state => state.filters.heatmaps.emitters,
      // showAttractors(state) {
      //   return state.map.maps[this.mapkey].show.attractors;
      // },
      // showEmitters(state) {
      //   return state.map.maps[this.mapkey].show.emitters;
      // },
      showZones(state) {
        return state.map.maps[this.mapkey].show.zones;
      },
      showGrid(state) {
        return state.map.maps[this.mapkey].show.grid;
      },
    }),
    secondMapIsActive: {
      get() {
        return this.$store.state.map.secondMapIsActive;
      },
    },
  },
  watch: {
    centerMain: function(value) {
      if (this.mapkey === 'main' && 
          this.centerMain.lat !== this.centerSecond.lat && 
          this.centerMain.lng !== this.centerSecond.lng)
        this.center = value;
    },
    centerSecond: function(value) {
      if (this.mapkey === 'second' &&
          this.centerMain.lat !== this.centerSecond.lat &&
          this.centerMain.lng !== this.centerSecond.lng)
        this.center = value;
    },
    zoomMain: function(value) {
      if (this.mapkey === 'main') this.zoom = value;
    },
    zoomSecond: function(value) {
      if (this.mapkey === 'second') this.zoom = value;
    },
    secondMapIsActive: function(value) {
      if (this.mapkey === 'main') {
        this.$refs['main'].mapObject.invalidateSize();
      }
    },
    mapControl: function(newValue, oldValue) {
      if (oldValue === 'both' && this.mapkey === 'second') {
        this.loadBaseLayers();
      }
    },
  },
  mounted() {
    if (this.keymap === 'second') {
      this.updateCenter({ mapkey: 'second', center: centerMain });
    }
    this.loadBaseLayers();
    this.loadSavedLayers();
  },
  methods: {
    ...mapActions('loading', ['setLoading', 'unsetLoading']),
    ...mapActions('user_shapefiles', ['loadSavedLayers']),
    ...mapActions([
      'fetchZones',
      'fetchGrid',
      'filterData',
      'updateCenter',
      'updateZoom',
    ]),
    async loadBaseLayers() {
      this.setLoading();
      await this.fetchGrid(this.mapkey).then(() => {
        this.renderGrid = true;
        this.filterData(this.mapkey);
        this.unsetLoading();
      });
      this.fetchZones(this.$http).then(() => {
        this.renderZones = true;
      });
    },
    zoomUpdated(zoom) {
      if (this.mapControl === 'same')
        this.updateZoom({ mapkey: this.mapkey, zoom });
    },
    centerUpdated(center) {
      if (this.mapControl === 'same')
        this.updateCenter({ mapkey: this.mapkey, center });
    },
    gridOptions() {
      // return {
      //   onEachFeature: function (feature, layer) {
      //     const i = feature.properties.i;
      //     const j = feature.properties.j;
      //     layer.bindTooltip(`(${i}, ${j})`, { permanent: false, sticky: true });
      //   },
      // };
    },
    zonesOptions() {
      return {
        onEachFeature: function (feature, layer) {
          let tooltipMsg = '';
          tooltipMsg += `NumeroZona: ${feature.properties.NumeroZona}<br>`;
          tooltipMsg += `NomeZona: ${feature.properties.NomeZona}<br>`;
          tooltipMsg += `NomeMunici: ${feature.properties.NomeMunici}<br>`;
          // tooltipMsg += `NumDistrit: ${NumDistrit}`;
          // layer.bindPopup(tooltipMsg);
          layer.bindTooltip(tooltipMsg, { permanent: false, sticky: true });
        },
      };
    },
    markerOptions(style) {
      return {
        pointToLayer: function (feature, latlng) {
          return L.circleMarker(
            latlng,
            {
              radius: style.weight/2,
              opacity: style.opacity,
              fillOpacity: style.opacity,
              fillColor: style.color,
              color: style.color,
            });
        },
        onEachFeature: function (feature, layer) {
          const keys = Object.keys(feature.properties);
          let properties = [];
          keys.forEach(k => properties.push(`${k}: ${feature.properties[k]}`));
          const tooltipMsg = properties.join('<br>');
          layer.bindTooltip(tooltipMsg, { permanent: false, sticky: true });
        },
      };
    },
  },
};
</script>

<style scoped>
#map {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
</style>
