<template>
  <div id="app">
    <BikeScienceWeb />
  </div>
</template>

<script>
import BikeScienceWeb from '@/pages/BikeScienceWeb';

export default {
  components: {
    BikeScienceWeb,
  },
};
</script>
